.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-text11 {
  display: inline-block;
}
 
.about-text12 {
  display: inline-block;
}
 
.about-text13 {
  display: inline-block;
}
 
.about-text14 {
  display: inline-block;
}
 
.about-text15 {
  display: inline-block;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-text19 {
  display: inline-block;
}
 
.about-text20 {
  display: inline-block;
}
 
.about-text21 {
  display: inline-block;
}
 
.about-text22 {
  display: inline-block;
}
 
.about-text23 {
  display: inline-block;
}
 
.about-text24 {
  display: inline-block;
}
 
.about-text25 {
  display: inline-block;
}
 
.about-text26 {
  display: inline-block;
}
 
.about-text27 {
  display: inline-block;
}
 
.about-text28 {
  display: inline-block;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-text45 {
  display: inline-block;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-text48 {
  display: inline-block;
}
